<div style="height: 300px; width: 900px; overflow-y: scroll;">
  <table id="fields">
    <thead>
      <tr>
        <th></th>
        <th>table</th>
        <th>column</th>
        <th>in select</th>
        <th>as</th>
        <th>condition</th>
        <th>in group</th>
        <th>in order</th>
        <th>in summary</th>
        <th>use range</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
