<script>
  $(function() {
    $('#reports-list').dataTable({
      "ajax": "/admin/reports/list",
      "aoColumnDefs": [
        { 'bSortable': false, 'aTargets': [8] }
      ]
    });

    $('div.success, div.error').delay(10000).hide('slow');
  });
</script>

<%= link_to 'New', new_admin_report_url, class: "button button-rounded" %>
<br/><br/>

<h1>Reports list</h1>
<br/>

<% if flash[:notice] %>
  <div class="success"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>

<table id="reports-list" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Source</th>
      <th>Last Execute Time</th>
      <th>Last Execute Status</th>
      <th>Last Execute Spent Time</th>
      <th>Last Execute Rows Count</th>
      <th>Success</th>
      <th>Failed</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Source</th>
      <th>Last Execute Time</th>
      <th>Last Execute Status</th>
      <th>Last Execute Spent Time</th>
      <th>Last Execute Rows Count</th>
      <th>Success</th>
      <th>Failed</th>
      <th>Actions</th>
    </tr>
  </tfoot>
</table>
