<style>
  #dashboard { float: right; width: 100%; height: 100%; min-height: 18em; padding: 0%; }
  #dashboard h4 { line-height: 16px; margin: 0 0 0.4em; }
  #dashboard h4 .ui-icon { float: left; }
</style>

<%= hidden_field_tag 'dashboard_id', @dashboard.id %>
<div id="dashboard" class="gridster"><ul></ul></div>
<%= render 'widget_settings' %>
<input id="last_call_widget_settings_position_id" type="hidden" value="-1" />

<script>
  $(function() {
    var dashboard_id = $('#dashboard_id').val();

    $.ajax({
      url: "/dashboards/" + dashboard_id + '/widgets',
      method: 'get'
    }).done(function(data) {
      var widgets = data.dashboard_widgets;

      $.each(widgets, function(id, widget) {
        var li_count = $("#dashboard ul li").length;
        var widget_id = widget.widget_id;
        var widget_type = widget.widget.sys;

        var box = boxContent(widget_type, false);

        gridster.add_widget('<li widget-id="' + widget_id + '" position-id="' + li_count + '" widget-type="' + widget_type + '">' + box + '</li>', widget.width, widget.height);
        renderWidget(widget.entity_id, widget.widget_id, widget.x_axis, widget.y_axis, widget.y_axis_as, widget.x_axis_group, widget.limits, $('li[position-id=' + li_count + ']'));
      });
    });
  });
</script>
