/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* { margin: 0; padding: 0; }
body { background: #FFF; position: absolute; width: 100%; height: 100%; font: 12px/18px Arial,sans-serif; }
#main { background: #FFF; height: 100%; padding: 50px 0 50px; box-sizing: border-box; }
#head { background: #EEE; position: absolute; width: 100%; height: 50px; }
#left { background: #EEE; float: left; width: 250px; height: 100%; overflow: scroll; }
#right { background: #FFF; height: 100%; overflow: scroll; }
#foot { background: #EEE; position: absolute; bottom: 0; width: 100%; height: 50px; }
#toolbar { background: #FFF; position: relative; width: 100%; height: 30px; }
.logo {margin-left: 33px}

table.gridtable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
  width: 100%;
}
table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

img.widget_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -25px;
}

table#last-values-structured {
  border-collapse: collapse;
}

td#last-values-structured {
  border: 1px solid #0f0f0f;
}

.info, .success, .warning, .error {
  border: 1px solid;
  margin: 5px 0px;
  padding: 5px 5px 5px 65px;
  background-repeat: no-repeat;
  background-position: 10px center;
  min-height: 45px;
}

.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('circle_blue.png');
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('circle_green.png');
}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('circle_orange.png');
}

.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('circle_red.png');
}
