<script>
  $(function() {
    $('#users-list').dataTable({
      "ajax": "/admin/users/list",
      "aoColumnDefs": [
        { 'bSortable': false, 'aTargets': [2] }
      ]
    });

    $('div.success, div.error').delay(10000).hide('slow');
  });
</script>

<%= link_to 'New', new_admin_user_url, class: "button button-rounded" %>
<br/><br/>

<h1>Users list</h1>
<br/>

<% if flash[:notice] %>
  <div class="success"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>

<table id="users-list" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </tfoot>
</table>
