<div id="executed-data" title="Executed Data" style="display:none">
  <p>
    <div id="progress_spinner"><%= image_tag 'spinner-normal.gif' %></div>
    <table class="gridtable">
      <tr><td>Report</td><td><span id="executed_report_name">REPORT</span></td></tr>
      <tr><td>Status</td><td><span id="execute_status">STATUS</span></td></tr>
      <tr><td>Message</td><td><span id="execute_message">MESSAGE</span></td></tr>
      <tr><td>Elapsed Time</td><td><span id="elapsed_time">ELAPSED_TIME</span></td></tr>
      <tr><td>Rows Returned</td><td><span id="execute_rows">ROWS_RETURNED</span></td></tr>
    </table>
  </p>
  <table id="executed-data-table"></table>
</div>